
body,
div,
ul,
li{
    list-style-type: none;
    padding: 0px;
    margin: 0px;
}

body{
    display:grid;
    grid-template-columns: 1fr 7fr;
}

p{
    display: inline-block;
    margin: 0px;
    padding: 0px;
}

.hidden{
    display:none;
}

.display{
    display:block;
}

nav button,
.cancelTodo,
.subBtn,
.submitTodo,
.editBtn{
    background: none;
    border:none;
    padding: 0px;
}


/* /////////////////////////////////////////////////////////// */
/* nav stuff */
nav{
    background-color: red;
    height:100vh;
    display: grid;
    grid-template-rows: 1fr 4fr;
}

.mainNav,
.projects{
    display:grid;
    justify-items: center;
}

.projects{
    grid-auto-rows: 20px;
}

.projects .project{
    width: 80%;
    display: flex;
    justify-content: space-between;
}


/* ///////////////////////////////////////////////////////////////// */
/* toolbar stuff */

.toolbar{
    height: 5%;
    background-color: aquamarine;
    display: flex;
    justify-content: space-evenly;
}

/* //////////////////////////////////////////////////////////////// */
/* Todos */
.todoDiv{
    width: 420px;
    margin: 3px 5px 3px 5px;
}

.todo{
    display:grid;
    place-content: center;
    grid-template-columns: 0.5fr 2fr 2fr 0.1fr;
    width: 420px;
    border: 1px solid black;
    box-sizing: border-box;
    padding-top: 4px;
    padding-bottom: 4px;
    padding-right: 2px;
    grid-template-areas: 
    "a6 a1 a7 ."
    "a6 a2 a2 ."
    "a6 a3 a3 ."
    ". a5 a5 ."
    ". a4 a4 .";
}

.todo > * {
    margin: 2px 0px 2px;
}

.creating{
    background-color: yellow;
}

.todo .projectDiv,
.todo  .dateDiv,
.todo  .priorityDiv{
    font-size: 0.7rem;
}

.inputMode select,
.inputMode input{
    /* height:  0.8rem; */
    font-size: 0.75rem;
}


.projectDiv{
    grid-area: a1;
}

.editBtn,
.cancelTodo{
    grid-area: a7;
    justify-self: right;
    text-align: center;
}

.task{
    grid-area: a2;
    width: 330px;
}

.main{
    grid-area: a3;
    display: grid;
    grid-template-columns: 1fr 2fr;
}

.editBox{
    grid-area: a4;
    display: flex;
    justify-content: space-between;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-areas: "b1 b2";
}

.subContainer{
    grid-area: a5;
    padding-left: 30px;
    font-size: 0.8rem;
    padding-right: 30px;
}

.inputMode .subTask:first-child{
    margin-top: 5px;  
    border-top: black solid 2px;
    padding-top: 5px
}

.inputMode .subTask{
    margin-bottom: 1px;
    gap: 10px
}

.printMode > .subContainer{
    margin-top: 5px;
    border-top: black solid 2px;
    padding-top: 5px;
}

.subContainer > .subSection > span{
    font-size: 0.8rem;
    font-weight: 800;
    border-bottom: solid 1px gray;
    margin-bottom: 2px;
}

.subContainer > ul{
    margin-bottom: 5px;
}


.subContainer input{
    height: 0.85rem;
}

.subContainer > .noteSection > li{
    list-style-type: none;
}

.noteSection li::before{
   content: '';
   background-image: url(./img/star-box.svg);
   background-size: 100% 100%;
   display: inline-block;
   height: 1rem;
   width: 0.9rem;
}

.subTaskSection input,
.noteSection li::before{
    margin-left: 0px;
    margin-right: 5px;
    vertical-align:bottom;
}

.completeDiv{
    grid-area: a6;
    display: grid;
    align-items: center;
    justify-items:center;
    height:20px;
    margin-right: 5px;
}

.completeDiv > img{
    height:1.3rem;
    width: 1.5rem;
}
.completeDiv > input{
    height: 1rem;
    width: 1rem;
}

.subContainer > .subTask{
    display: flex;
    font-size: 0.7rem; 
}

.subTask > .delBtn{
    height: 1rem;
    width: 1rem;
}

.subBtn{
    grid-area: b1;
    text-align: left;
}

.modeBtn{
    grid-area:b2;
    justify-self: right;
    text-align: center;
}

.todo button{
    width:70px;
    height: 20px;
    font-size: 0.6rem
}

.printMode > .task{
    font-size: 2rem;
}

.completedSub{
    color:gray;
}


/* /////////////////////////////// */
.addToDo{
    position: absolute;
}

/*  */
/* dialog{
    margin:0px;
    top:20vh;
    left:45vw;   
} */