body,
div,
ul,
li{
    list-style-type: none;
    padding: 0px;
    margin: 0px;
}



body{
    display:grid;
    grid-template-columns: 1fr 4fr;
}


nav{
    background-color: red;
    height:100vh;
    display: grid;
    grid-template-rows: 1fr 1fr;
}

.toolbar{
    height: 5%;
    background-color: aquamarine;
    display: flex;
    justify-content: space-evenly;
}

.todo{
    display:grid;
    grid-template-columns: 0.3fr 3fr 1fr 0.3fr;
    width: 500px;
    margin:5px;
    border: 1px solid black;
    padding: 5px 3px;
    grid-template-areas: 
    "a6 a1 a7 ."
    "a6 a2 a2 ."
    "a6 a3 a3 ."
    ". a5 a5 ."
    ". a4 a4 .";
}

.creating{
    background-color: yellow;
}

.projectDiv{
    grid-area: a1;
}

.editBtn,
.cancelTodo{
    grid-area: a7;
}

.task{
    grid-area: a2;
}

.main{
    grid-area: a3;
    display: grid;
    grid-template-columns: 1fr 2fr;
    /* justify-content: space-evenly; */
    margin: 5px 0px;
}

.editBox{
    grid-area: a4;
    display: flex;
    justify-content: space-between;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-areas: "b1 b2 . b3";
}

.todo button{
    width:70px;
    font-size: 0.6rem
}

.subBtn{
    grid-area: b1;
}

.modeBtn{
    grid-area:b2;
}

.editBox > .delBtn{
    grid-area: b3
}


.subContainer {
    grid-area: a5;

}

.completeDiv{
    grid-area: a6;
    display: grid;
    align-items: center;
}


p{
    display: inline-block;
    margin: 0px;
    padding: 0px;
}

.addToDo{
    position: absolute;
}

.hidden{
    display:none;
}

.display{
    display:block;
}
